/**
* --------------------------------
* 상품안내 CSS
* --------------------------------
*/



/* about */
.product .about .section { padding:0 20px; box-sizing:border-box; }
.product .about .prd_list > li { margin-top:10px; }
.product .about .prd_list > li:first-child { margin-top:0; }
.product .about .prd_list > li dl { position:relative; }
.product .about .prd_list > li dl:after { content:''; display:block; clear:both; }
.product .about .prd_list > li dl dt { position:absolute; left:0; top:0; width:136px; height:110px; }
.product .about .prd_list > li dl dt strong { position:absolute; left:0; top:50%; width:110px; transform:translate(0,-50%); color:#fff; font-size:16px; font-weight:600; text-align:center; }
.product .about .prd_list > li dl dt img { width:100%; }
.product .about .prd_list > li dl dd { position:relative; float:right; width:100%; height:110px; padding-left:160px; box-sizing:border-box; }
.product .about .prd_list > li dl dd ul { position:relative; top:50%; transform:translate(0,-50%); font-size:12px; letter-spacing:-0.04em; }
.product .about .prd_list > li dl dd ul li { padding-left:7px; line-height:17px; text-indent:-7px; margin-top:2px; }
.product .about .prd_list > li dl dd ul li:first-child { margin-top:0; }

/* pb */
.product .pb .section { padding:0 20px; box-sizing:border-box; }
.product .pb p { font-size:13px; line-height:18px; color:#807e7e; }
.product .pb ol { margin-top:30px; width:calc(100vw - 40px); height:calc((100vw - 40px)*1.659375); background:url('/pjtCom/mobile/images/sub/img_product_pb01.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.product .pb ol li dl,
.product .pb ol li dt,
.product .pb ol li dd { font-size:0; text-indent:-9999px; }

/* direct */
.product .direct p { font-size:13px; line-height:18px; color:#807e7e; }
.product .direct .section { padding:0 20px; box-sizing:border-box; }
.product .direct .map_area { margin-top:12px; width:calc(100vw - 40px); height:calc((100vw - 40px)*1.509375); background:url('/pjtCom/mobile/images/sub/img_product_direct01.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.product .direct .map_area ul { position:relative; display:block; width:100%; height:100%; }
.product .direct .map_area ul li { display:none; position:absolute; left:0; top:0; width:100%; font-size:0; }
.product .direct .map_area ul li#tab1 { display:block; top:calc((100vw - 40px)*0.734375); height:calc((100vw - 40px)*0.321875); background:url('/pjtCom/mobile/images/sub/img_product_direct11.png') no-repeat 0 0; background-size:calc(100vw - 40px); }
.product .direct .map_area ul li#tab2 { top:calc((100vw - 40px)*0.0703125); height:calc((100vw - 40px)*1.390625); background:url('/pjtCom/mobile/images/sub/img_product_direct12.png') no-repeat 0 0; background-size:calc(100vw - 40px); }
.product .direct .map_area ul li#tab3 { top:calc((100vw - 40px)*0.4453125); height:calc((100vw - 40px)*0.3375); background:url('/pjtCom/mobile/images/sub/img_product_direct13.png') no-repeat 0 0; background-size:calc(100vw - 40px); }
.product .direct .map_area ul li#tab4 { top:calc((100vw - 40px)*0.653125); height:calc((100vw - 40px)*0.078125); background:url('/pjtCom/mobile/images/sub/img_product_direct14.png') no-repeat 0 0; background-size:calc(100vw - 40px); }
.product .direct .map_area ul li#tab5 { top:calc((100vw - 40px)*0.46875); height:calc((100vw - 40px)*0.078125); background:url('/pjtCom/mobile/images/sub/img_product_direct15.png') no-repeat 0 0; background-size:calc(100vw - 40px); }
.product .direct .map_area ul li#tab6 { top:calc((100vw - 40px)*0.6109375); height:calc((100vw - 40px)*0.078125); background:url('/pjtCom/mobile/images/sub/img_product_direct16.png') no-repeat 0 0; background-size:calc(100vw - 40px); }
.product .direct .map_area ul li#tab7 { top:calc((100vw - 40px)*0.3734375); height:calc((100vw - 40px)*0.078125); background:url('/pjtCom/mobile/images/sub/img_product_direct17.png') no-repeat 0 0; background-size:calc(100vw - 40px); }
.product .direct .map_area ul li#tab8 { top:calc((100vw - 40px)*0.653125); height:calc((100vw - 40px)*0.078125); background:url('/pjtCom/mobile/images/sub/img_product_direct14.png') no-repeat 0 0; background-size:calc(100vw - 40px); }
.product .direct .tab_area { margin-top:20px; }
.product .direct .tab_area ul:after { content:''; display:block; clear:both; }
.product .direct .tab_area ul li { float:left; width:25%; height:40px; box-sizing:border-box; border:1px solid #cac2b9; border-width:1px 1px 0 0;}
.product .direct .tab_area ul li:nth-child(4n-3) { border-left:1px solid #cac2b9; }
.product .direct .tab_area ul li:nth-child(5),
.product .direct .tab_area ul li:nth-child(6),
.product .direct .tab_area ul li:nth-child(7),
.product .direct .tab_area ul li:nth-child(8) { border-bottom:1px solid #cac2b9; }
.product .direct .tab_area ul li a { position:relative; display:block; width:100%; height:100%; text-indent:-9999px; font-size:0; }
.product .direct .tab_area ul li a:before { content:''; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); display:block; width:68px; height:22px; background:url('/pjtCom/mobile/images/sub/img_product_direct20.png') no-repeat 0 0; background-size:542px; }
.product .direct .tab_area ul li:nth-child(2) a:before { background-position-x:-68px }
.product .direct .tab_area ul li:nth-child(3) a:before { background-position-x:-136px }
.product .direct .tab_area ul li:nth-child(4) a:before { background-position-x:-204px }
.product .direct .tab_area ul li:nth-child(5) a:before { background-position-x:-272px }
.product .direct .tab_area ul li:nth-child(6) a:before { background-position-x:-340px }
.product .direct .tab_area ul li:nth-child(7) a:before { background-position-x:-408px }
.product .direct .tab_area ul li:nth-child(8) a:before { background-position-x:-476px }
.product .direct .tab_area ul li.on a { background:#ce462d; border:1px solid #ce462d; left:-1px; top:-1px; z-index:1; }
.product .direct .tab_area ul li.on a:before { background-position-y:-23px;}

/* global */
.product .global#contents { padding-bottom:0; }
.product .global .section { padding:0 20px; box-sizing:border-box; }55 84
.product .global p { font-size:13px; line-height:15px; color:#807e7e; }
.product .global .map_area { margin-top:17px; width:calc(100vw - 40px); height:calc((100vw - 40px)*0.50625); background:url('/pjtCom/mobile/images/sub/img_product_global01.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.product .global .map_area ul { position:relative; width:100%; height:100%; }
.product .global .map_area ul li { position:absolute; transform:translate(-50%,-50%); line-height:18px; font-size:11px; font-weight:600; }
.product .global .map_area ul li a { display:block; width:100%; height:100%; padding:0px 12px; box-sizing:border-box;  background:#fff; border:1px solid #cac2b9; border-radius:42px; color:#555555;  }
.product .global .map_area ul li.eu { left:8.59375%; top:calc((100vw - 40px)*0.13125); }
.product .global .map_area ul li.af { left:11.40625%; top:calc((100vw - 40px)*0.321875); }
.product .global .map_area ul li.ea { left:31.71875%; top:calc((100vw - 40px)*0.18125); }
.product .global .map_area ul li.esa { left:42.1875%; top:calc((100vw - 40px)*0.29375); }
.product .global .map_area ul li.os { left:56.875%; top:calc((100vw - 40px)*0.4125); }
.product .global .map_area ul li.na { left:72.8125%; top:calc((100vw - 40px)*0.1625); }
.product .global .map_area ul li.sa { left:82.1875%; top:calc((100vw - 40px)*0.375); }
.product .global .map_area ul li.on a { background:#ce462d; color:#fff; border:1px solid #ce462d; }
.product .global .tab_cont { margin-top:20px; }
.product .global .tab_cont dl,
.product .global .tab_cont dt,
.product .global .tab_cont dd,
.product .global .tab_cont h3 {font-size:0; }
.product .global .tab_cont li { display:none; width:100%; }
.product .global .tab_cont li#tab1 { display:block; height:calc((100vw - 40px)*0.9609375); background:url('/pjtCom/mobile/images/sub/img_product_global02.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.product .global .tab_cont li#tab2 { height:calc((100vw - 40px)*0.321875); background:url('/pjtCom/mobile/images/sub/img_product_global03.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.product .global .tab_cont li#tab3 { height:calc((100vw - 40px)*0.653125); background:url('/pjtCom/mobile/images/sub/img_product_global04.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.product .global .tab_cont li#tab4 { height:calc((100vw - 40px)*0.653125); background:url('/pjtCom/mobile/images/sub/img_product_global05.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.product .global .tab_cont li#tab5 { height:calc((100vw - 40px)*0.321875); background:url('/pjtCom/mobile/images/sub/img_product_global06.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.product .global .tab_cont li#tab6 { height:calc((100vw - 40px)*0.653125); background:url('/pjtCom/mobile/images/sub/img_product_global07.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.product .global .tab_cont li#tab7 { height:calc((100vw - 40px)*0.321875); background:url('/pjtCom/mobile/images/sub/img_product_global08.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.product .global .btn_area { margin-top:30px; padding:20px; box-sizing:border-box; background:url('/pjtCom/mobile/images/sub/img_product_global09.jpg') no-repeat 0 0; background-size:cover; }
.product .global .btn_area p { line-height:18px; font-size:14px; color:#ffffff; }
.product .global .btn_area:before,
.product .global .btn_area:after { display:none; }
.product .global .btn_area > div { margin-top:17px; }
.product .global .btn_area > div:after { content:''; display:block; clear:both; }
.product .global .btn_area > div a { position:relative; display:inline-block; font-size:12px; border:1px solid #fff; color:#fff; padding:9px 29px 9px 12px; vertical-align:middle; }
.product .global .btn_area > div a:after { content:''; display:block; position:absolute; right:14px; top:50%; margin-top:-5px; width:6px; height:10px; background:url('/pjtCom/mobile/images/sub/img_product_global10.png') no-repeat 0 0; background-size:6px; }
.product .global .btn_area > div a:first-child { margin-right:8px; }
