/**
* --------------------------------
* 브랜드소개 CSS
* --------------------------------
*/

/* common */
.brand .tit { font-size:22px; letter-spacing:-0.04em; color:#555555; }
.brand .txt { font-size:13px; line-height:18px; color:#807e7e; }
.brand .section { padding:0 20px; margin-top:55px; box-sizing:border-box; }
.brand .section:first-child { margin-top:0; }
.brand .section img { width:100%; }

/* serveq */
.brand .serveq .sec1 p { padding-top:18px; }
.brand .serveq .sec1 p strong { display:block; font-size:16px; font-weight:600; line-height:1.5em; color:#231f20; }
.brand .serveq .sec1 p span { margin-top:18px; display:block; }
.brand .serveq dl dt { font-size:16px; font-weight:600; color:#231f20; }
.brand .serveq dl dd { font-size:13px; line-height:15px; color:#807e7e; }
.brand .serveq .sec2 p,
.brand .serveq .sec3 p { margin-top:10px; }
.brand .serveq .sec2 dl { margin-top:20px; }
.brand .serveq .sec2 dd { margin-top:5px; }
.brand .serveq .sec2 dd div { margin-top:8px; }
.brand .serveq .sec3 dl { margin-top:5px; width:100%; height:calc((100vw - 40px)/8*9); background:url('/pjtCom/images/sub/img_brand_serveq04.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.brand .serveq .sec3 dt,
.brand .serveq .sec3 dd { display:inline; font-size:0; }
.brand .serveq .sec4 dt { font-size:16px; line-height:20px;}
.brand .serveq .sec4 dd { margin-top:15px; }
.brand .serveq .sec4 dl { margin-top:13px; }
.brand .serveq .sec4 dl:last-child { margin-top:26px; }
.brand .serveq .sec5 p { margin-top:12px; }
.brand .serveq .sec5 dl { margin-top:5px; width:100%; height:calc((100vw - 40px)*1.6953125 + 1px); background:url('/pjtCom/images/sub/img_brand_serveq07.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.brand .serveq .sec5 dt,
.brand .serveq .sec5 dd { display:inline; font-size:0; }

/* business_circulation */
.brand .business .circulaion p { margin-top:12px; font-size:13px; line-height:18px; }
.brand .business .circulaion .sec1 p { margin-top:0; }
.brand .business .circulaion .sec1 ul,
.brand .business .circulaion .sec1 li,
.brand .business .circulaion .sec1 strong  { display:inline; font-size:0; }
.brand .business .circulaion .sec1 div { margin-top:15px; width:100%; height:calc((100vw - 40px)*1.396875 + 1px); background:url('/pjtCom/images/sub/img_brand_busi01.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.brand .business .circulaion .sec2 { margin-top:48px; }
.brand .business .circulaion .sec2 div { margin-top:15px; width:100%; height:calc((100vw - 40px)*0.61875); background:url('/pjtCom/images/sub/img_brand_busi02.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.brand .business .circulaion .sec2 div ul,
.brand .business .circulaion .sec2 div li { display:inline; font-size:0; }
.brand .business .circulaion .sec3 { margin-top:60px; background:url('/pjtCom/images/sub/img_brand_busi21.jpg') no-repeat 0 70px; background-size:100vw; }
.brand .business .circulaion .sec3 ul { margin-top:16px; }
.brand .business .circulaion .sec3 ul:after { content:''; display:block; clear:both; }
.brand .business .circulaion .sec3 ul li { float:left; width:calc(50vw - 25px); padding-bottom:17px; }
.brand .business .circulaion .sec3 ul li:nth-child(2n) { margin-left:5px; }
.brand .business .circulaion .sec3 ul li strong { display:block; margin-top:8px; text-align:center; font-size:12px; font-weight:600; line-height:15px; }
.brand .business .circulaion .sec3 ul li span { display:block; margin-top:5px; text-align:center; font-size:12px; line-height:15px; }
.brand .business .circulaion .sec4 { margin-top:39px; }
.brand .business .circulaion .sec4 dl { margin-top:18px; text-align:center; }
.brand .business .circulaion .sec4 dl dt { margin-top:18px; font-size:18px; }
.brand .business .circulaion .sec4 dl dt:first-child { margin-top:0; }
.brand .business .circulaion .sec4 dl dt strong { display:block; margin-top:10px; }
.brand .business .circulaion .sec4 dl dd { margin-top:5px; font-size:12px; }
.brand .business .circulaion .sec5 { padding:0; margin-top:60px; }
.brand .business .circulaion .sec5 .tit,
.brand .business .circulaion .sec5 p { padding:0 20px; }
.brand .business .circulaion .sec5 ul { margin-top:14px; width:100%; height:calc(100vw*0.2625); background:url('/pjtCom/images/sub/img_brand_busi16.jpg') no-repeat 0 0; background-size:100vw; }
.brand .business .circulaion .sec5 ul li { display:inline; font-size:0; }
.brand .business .circulaion .sec6 { margin-top:60px; }
.brand .business .circulaion .sec6 ul { margin-top:19px; }
.brand .business .circulaion .sec6 ul:after { content:''; display:block; clear:both; }
.brand .business .circulaion .sec6 li { float:left; width:calc(50vw - 25px); padding-bottom:17px; border:1px solid #e4e4e4; box-sizing:border-box; }
.brand .business .circulaion .sec6 ul li:nth-child(2n) { margin-left:5px; }
.brand .business .circulaion .sec6 ul li:nth-child(3),
.brand .business .circulaion .sec6 ul li:nth-child(4) { margin-top:10px; }
.brand .business .circulaion .sec6 ul li strong { display:block; margin-top:20px; font-size:16px; text-align:center; }
.brand .business .circulaion .sec6 ul li span { position:relative; display:block; margin-top:25px; font-size:12px; text-align:center; }
.brand .business .circulaion .sec6 ul li span:before { content:''; position:absolute; left:50%; top:-13px; margin-left:-9px; width:18px; height:1px; background:#ce462d; }

/* business_bakery */
.brand .business .bakery p { font-size:13px; line-height:18px; }
.brand .business .bakery .sec1 { padding:0; }
.brand .business .bakery .sec1 p { color:#807e7e; padding:0 20px; }
.brand .business .bakery .sec1 ul,
.brand .business .bakery .sec1 li,
.brand .business .bakery .sec1 strong { display:inline; font-size:0; }
.brand .business .bakery .sec1 div { margin-top:24px; width:100vw; height:calc(100vw*1.3503); background:url('/pjtCom/images/sub/img_brand_bakery01.jpg') no-repeat 0 0; background-size:100vw; }
.brand .business .bakery .sec2 p { margin-top:15px; }
.brand .business .bakery .sec2 .info { margin-top:30px; width:100%; height:calc((100vw - 40px)*0.125); background:url('/pjtCom/images/sub/img_brand_bakery02.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.brand .business .bakery .sec2 .info li { display:inline; font-size:0; }
.brand .business .bakery .sec2 .aryzta { margin-top:30px; }
.brand .business .bakery .sec2 .aryzta strong { display:block; font-size:12px; font-weight:600; text-align:center; margin-top:10px; color:#231f20; }
.brand .business .bakery .sec2 .aryzta strong:after { content:''; margin-top:20px; display:block; width:calc(100vw - 40px); height:calc((100vw - 40px)*0.115625); background:url('/pjtCom/images/sub/img_brand_bakery04.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.brand .business .bakery .sec2 .alliance { margin-top:10px; }
.brand .business .bakery .sec2 .alliance li { margin-top:10px; }
.brand .business .bakery .sec2 .alliance li:first-child { margin-top:0; }
.brand .business .bakery .sec2 .alliance li .img_box { float:left; width:53.125%; margin-left:3.125%; }
.brand .business .bakery .sec2 .alliance li:after { content:''; display:block; clear:both; }
.brand .business .bakery .sec2 .alliance li .txt { float:left; width:40.625%; height:calc(100vw * 0.277777); }
.brand .business .bakery .sec2 .alliance li dl { position:relative; left:15px; top:50%; transform:translate(0,-50%); }
.brand .business .bakery .sec2 .alliance li dl dt b { display:block; font-weight:600; color:#231f20; }
.brand .business .bakery .sec2 .alliance li dl dt { font-size:12px; line-height:15px; }
.brand .business .bakery .sec2 .alliance li dl dd { margin-top:5px; font-size:12px; line-height:15px; }

/* business_material */
.brand .business .material p { margin-top:15px; font-size:13px; line-height:18px; color:#807e7e; }
.brand .business .material .sec1 p { margin-top:0; }
.brand .business .material .sec2 div { margin-top:10px; }
.brand .business .material .sec3 div { margin-top:18px; }
.brand .business .material .sec4 div { margin-top:17px; }
.brand .business .material .sec5 div { margin-top:18px; }
.brand .business .material .sec6 strong { display:block; font-size:16px; margin-bottom:18px; color:#231f20; }
.brand .business .material .sec6 div { margin-top:7px; }

/* business_consumption */
.brand .business .consumption .section { padding:0; }
.brand .business .consumption .tit { padding:0 20px; }
.brand .business .consumption .tit strong { font-size:22px; }
.brand .business .consumption .tit span { margin-left:5px;font-size:15px; color:#231f20; }
.brand .business .consumption p { margin-top:12px; font-size:12px; line-height:17px; padding:0 20px; color:#807e7e; }
.brand .business .consumption .sec1 p { margin-top:0; }
.brand .business .consumption .img_box { position:relative; }
.brand .business .consumption .img_box:after { content:''; display:block; clear:both; }
.brand .business .consumption .img_box .l_img{ float:left; width:55.555555%; }
.brand .business .consumption .img_box a { position:absolute; right:0; margin-right:20px; width:37.5%; }
.brand .business .consumption .img_box a div { border-bottom:1px solid #e5e5e5; }
.brand .business .consumption .img_box a span { position:relative; display:inline-block; font-size:12px; margin-top:10px; padding-right:17px; }
.brand .business .consumption .img_box a span:after { content:''; position:absolute; right:0; top:50%; transform:translate(0,-50%); display:block; width:7px; height:11px; background:url('/pjtCom/images/sub/img_brand_consum13.jpg') no-repeat 0 0; background-size:7px; }
.brand .business .consumption .sec2 .img_box { margin-top:20px; }
.brand .business .consumption .sec3 .img_box { margin-top:15px; }
.brand .business .consumption .sec4 .img_box,
.brand .business .consumption .sec5 .img_box,
.brand .business .consumption .sec6 .img_box { margin-top:17px; }
.brand .business .consumption .sec7 .img_box { margin-top:28px; }
.brand .business .consumption .sec2 .img_box a { bottom:6.968641% }
.brand .business .consumption .sec3 .img_box a { bottom:7.142857% }
.brand .business .consumption .sec4 .img_box a { bottom:9.459459% }
.brand .business .consumption .sec5 .img_box a { bottom:7.857142% }
.brand .business .consumption .sec6 .img_box a { bottom:12.307692% }
.brand .business .consumption .sec7 .img_box a { bottom:14.8% }

/* business_office */
.brand .business .office .tab_area { position:relative; width:calc(100vw - 40px ); height:34px; margin:0 auto; box-sizing:border-box; border-radius:34px; }
.brand .business .office .tab_area:before { content:''; position:absolute; left:0; top:0; display:block; width:100%; height:100%; border:1px solid #949494; box-sizing:border-box; border-radius:34px; }
.brand .business .office .tab_area:after { content:''; display:block; clear:both; }
.brand .business .office .tab_area a { position:relative; z-index:1; float:left; width:33.3%; height:34px; line-height:34px; box-sizing:border-box; text-align:center; border-radius:34px; }
.brand .business .office .tab_area a:nth-child(2) { width:33.4%; }
.brand .business .office .tab_area a.on { background:#ce462d; color:#fff; }
.brand .business .office .section { margin-top:30px; }
.brand .business .office h2 { font-size:22px; }
.brand .business .office dl { margin-top:18px; }
.brand .business .office dt { margin-top:8px; float:left; width:23.4375%; font-weight:600; color:#231f20; }
.brand .business .office dd { margin-top:8px; float:left; width:76.5625%; }
.brand .business .office dt:nth-child(1),
.brand .business .office dd:nth-child(2) { margin-top:0px; }
.brand .business .office .map { margin-top:20px; width:calc(100vw - 40px); height:calc((100vw - 40px)*0.65625); overflow:hidden; }
.brand .business .office .tab_wrap.op0 .sec2,
.brand .business .office .tab_wrap.op0 .sec3,
.brand .business .office .tab_wrap.op1 .sec1,
.brand .business .office .tab_wrap.op1 .sec3,
.brand .business .office .tab_wrap.op2 .sec1,
.brand .business .office .tab_wrap.op2 .sec2 { position:relative; z-index:-1; height:0; overflow:hidden; opacity:0; margin-top:0; }
.brand .business .office table { margin-top:30px; }
.brand .business .office .section.sec2 .cont { margin-top:60px; }
.brand .business .office .section.sec2 .cont:first-child { margin-top:0px; }
.brand .business .office thead { border:1px solid #ece9e6; border-width:1px 0; }
.brand .business .office thead th { font-size:13px; line-height:30px; background:#f5f4f2; text-align:center; color:#81674a; }
.brand .business .office tbody { font-size:12px; line-height:20px; }
.brand .business .office tbody tr { border-bottom:1px solid #ece9e6; }
.brand .business .office tbody tr:nth-child(2n-1) td:first-child { text-align:center; }
.brand .business .office tbody tr td { padding:5px 8px; }
