/* 식품연구소 */
.infra .section { padding:0 20px; box-sizing:border-box; }
.infra .section p { font-size:13px; line-height:18px; color:#807e7e; }

/* lab */
.infra .lab ul { margin-top:25px; }
.infra .lab ul li { margin-top:10px; width:calc(100vw - 40px); height:calc(100vw * 0.4375); padding:0 8.4375%; box-sizing:border-box; background:url('/pjtCom/images/sub/img_infra_lab01.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.infra .lab ul li:nth-child(1) { margin-top:0; }
.infra .lab ul li:nth-child(2) { background:url('/pjtCom/images/sub/img_infra_lab02.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.infra .lab ul li:nth-child(3) { background:url('/pjtCom/images/sub/img_infra_lab03.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.infra .lab ul li div { position:relative; top:50%; transform:translate(0,-50%); color:#fff; }
.infra .lab ul li div strong { display:block; font-size:16px; font-weight:600; text-align:center; }
.infra .lab ul li div span { display:block; margin-top:8px; font-size:12px; line-height:15px; }

/* safety */
.infra .safety .section { margin-top:60px; }
.infra .safety { font-size:13px; line-height:18px; }
.infra .safety .section.sec1 { margin-top:0; }
.infra .safety .sec1 .safecenter { margin-top:25px; width:calc(100vw - 40px); height:calc((100vw - 40px)*0.78125); background:url('/pjtCom/images/sub/img_infra_safety01.jpg') no-repeat 0 0; background-size:calc(100vw - 40px ); }
.infra .safety .sec1 .safecenter dt,
.infra .safety .sec1 .safecenter dd { font-size:0; display:inline; }
.infra .safety .sec1 div { margin-top:32px; }
.infra .safety .sec1 div dl { margin-top:24px; }
.infra .safety .sec1 div dl:first-child { margin-top:0; }
.infra .safety .sec1 div dl:after { content:''; display:block; clear:both; }
.infra .safety .sec1 div dl dt { float:left; width:45.3125%; font-size:13px; font-weight:600; color:#231f20; }
.infra .safety .sec1 div dl dd { float:left; width:54.6875%; font-size:12px; line-height:17px; }
.infra .safety .sec2 .tit { font-size:22px; line-height:24px; }
.infra .safety .sec2 ul { margin-top:20px; }
.infra .safety .sec2 li { margin-top:10px; width:calc(100vw - 40px); height:calc((100vw - 40px)*0.40625); box-sizing:border-box; background:url('/pjtCom/images/sub/img_infra_safety02.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.infra .safety .sec2 li:first-child { margin-top:0; }
.infra .safety .sec2 li:nth-child(2) { background:url('/pjtCom/images/sub/img_infra_safety03.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.infra .safety .sec2 li:nth-child(3) { background:url('/pjtCom/images/sub/img_infra_safety04.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.infra .safety .sec2 li dl { position:relative; top:50%; width:100%; transform:translate(0,-50%); display:inline-block; padding:0 35px; box-sizing:border-box; }
.infra .safety .sec2 li dl dt { font-size:16px; line-height:18px; color:#fff; text-align:center; }
.infra .safety .sec2 li dl dd { margin-top:5px; font-size:12px; line-height:18px; color:#fff; text-indent:-7px; }
.infra .safety .sec3 > div { margin-top:20px; }
.infra .safety .sec3 > div:last-child { margin-top:60px; }
.infra .safety .sec3 .tit { font-size:16px; font-weight:600; }
.infra .safety .sec3 ol { margin-top:15px; width:calc(100vw - 40px); height:calc((100vw - 40px)*1.1671875); background:url('/pjtCom/images/sub/img_infra_safety05.jpg') no-repeat 0 0; background-size:calc(100vw - 40px ); }
.infra .safety .sec3 ol li { display:inline; font-size:0; }
.infra .safety .sec3 > div:last-child ol { height:calc((100vw - 40px)*1.1765625); background:url('/pjtCom/images/sub/img_infra_safety06.jpg') no-repeat 0 0; background-size:calc(100vw - 40px ); }

/* plaza */
.infra .plaza .sec1 ul { margin-top:17px; display:block; width:calc(100vw - 40px); height:calc((100vw - 40px)*0.9375); background:url('/pjtCom/images/sub/img_infra_plaza01.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.infra .plaza .sec1 ul li { display:inline; font-size:0; }
.infra .plaza .sec1 div { margin-top:30px; }
.infra .plaza .sec1 div span { display:block; margin-top:10px; }
.infra .plaza .sec1 div span img { width:100%; }
.infra .plaza .sec2 { margin-top:60px; }
.infra .plaza .sec2 .tit { font-size:22px; }
.infra .plaza .sec2 dl { margin:20px 0 15px; }
.infra .plaza .sec2 dl:after { content:''; display:block; clear:both; }
.infra .plaza .sec2 dt { float:left; width:23.4375%; font-size:15px; font-weight:600; line-height:24px; color:#231f20; }
.infra .plaza .sec2 dd { float:left; width:76.5625%; font-size:12px; line-height:24px; }
.infra .plaza .sec2 .map { width:calc(100vw - 40px); height:calc((100vw - 40px)*0.65625); overflow:hidden; }

/* distribute */
.infra .distribute .sec1 div { margin-top:10px; }
.infra .distribute .sec1 div img { width:100%; }
.infra .distribute .sec1 div:nth-child(2) { margin-top:12px; }
.infra .distribute .sec2 { margin-top:60px; }
.infra .distribute .sec2 p { margin-top:12px; }
.infra .distribute .sec2 ol { margin-top:32px; width:calc(100vw - 40px); height:calc((100vw - 40px)*1.1625); background:url('/pjtCom/images/sub/img_infra_distribute04.jpg') no-repeat 0 0; background-size:calc(100vw - 40px); }
.infra .distribute .sec2 ol li { display:inline; font-size:0; }

/* oms */
.infra #contents.oms { padding-bottom:0; }
.infra .oms .sec1 .txt { margin-top:15px; font-size:20px; line-height:22px; text-align:center; }
.infra .oms .sec1 .txt strong { display:block; font-weight:600; }
.infra .oms .sec1 ul { margin-top:25px; }
.infra .oms .sec1 ul li { position:relative; margin-top:38px; padding:15px 0;}
.infra .oms .sec1 ul li:before { content:''; position:absolute; left:21.875%; margin-left:-9px; bottom:-28px;  width:18px; height:18px; display:block; background:url('/pjtCom/images/sub/img_infra_oms04.jpg') no-repeat 0 0; background-size:18px; }
.infra .oms .sec1 ul li:last-child:before { display:none; }
.infra .oms .sec1 ul li:first-child { margin-top:0; }
.infra .oms .sec1 ul li dl { position:relative; padding-left:43.75%; box-sizing:border-box; }
.infra .oms .sec1 ul li dl:before { content:''; position:absolute; left:21.875%; top:50%; transform:translate(-50%,-50%); display:block; width:100px; height:100px; background:url('/pjtCom/images/sub/img_infra_oms01.jpg') no-repeat 0 0; background-size:100px; }
.infra .oms .sec1 ul li:nth-child(2) dl:before { background:url('/pjtCom/images/sub/img_infra_oms02.jpg') no-repeat 0 0; background-size:100px; }
.infra .oms .sec1 ul li:nth-child(3) dl:before { background:url('/pjtCom/images/sub/img_infra_oms03.jpg') no-repeat 0 0; background-size:100px; }

.infra .oms .sec1 ul li dl dt { margin-bottom:5px; line-height:17px; }
.infra .oms .sec1 ul li dl dt b { display:block; font-size:16px; }
.infra .oms .sec1 ul li dl dt span { display:block; font-size:12px; }
.infra .oms .sec1 ul li dl dd { font-size:12px; line-height:17px; }
.infra .oms .sec2 { margin-top:60px; }
.infra .oms .sec2 li div img { width:100%;}
.infra .oms .sec2 li dl { padding:27px 0; }
.infra .oms .sec2 li dl:after { content:''; display:block; clear:both; }
.infra .oms .sec2 li dl dt { position:relative; float:left; width:23.4375%; box-sizing:border-box; padding-left:20px; font-size:16px; color:#231f20; }
.infra .oms .sec2 li dl dt:before { content:''; position:absolute; top:-12px; left:20px; display:block; width:12px; height:2px; background:#ee3124; }
.infra .oms .sec2 li dl dd { float:right; width:76.5625%; box-sizing:border-box; font-size:12px; line-height:15px; }
.infra .oms .sec2 li dl dd span { display:block; }
.infra .oms .btn_area a { display:block;  }
.infra .oms [class^="btn_"]:before,
.infra .oms [class^="btn_"]:after { display:none; }
.infra .oms .btn_area a img {width:100%;}
.infra .oms .root_daum_roughmap .wrap_controllers { display:none; }
