/**
* --------------------------------
* 홍보센터 CSS
* --------------------------------
*/

/* press_view */
.pr .press .press_view .section { padding:0 20px; }

/* event_list_ing */
.pr .event .ing .tab_wrap:after { content:''; display:block; clear:both; }
.pr .event .ing .tab_wrap a { position:relative; float:left; display:block; width:50%; line-height:34px; font-size:15px; text-align:center; }
.pr .event .ing .tab_wrap a:after { content:''; position:absolute; left:0; bottom:0; display:block; width:100%; height:1px; background:#e4e4e4; }
.pr .event .ing .tab_wrap a.on { font-weight:600; color:#231f20; }
.pr .event .ing .tab_wrap a.on:after { height:2px; background:#231f20; }
.pr .event .ing .section { padding:0 20px; box-sizing:border-box; }
.pr .event .ing .event_list { margin-top:30px; }
.pr .event .ing .event_list .inner > li { position:relative; margin-top:10px; border-bottom:1px solid #e4e4e4; }
.pr .event .ing .event_list .inner > li:after { content:''; display:block; position:absolute; right:20px; bottom:20px; width:34px; height:6px; background:url('/pjtCom/images/common/right_arrow.png') no-repeat 0 0; background-size:34px; }
.pr .event .ing .event_list .inner > li:first-child { margin-top:0; }
.pr .event .ing .event_list .inner > li a { display:block; width:100%; }
.pr .event .ing .event_list .inner > li .img_area { width:calc(100vw - 40px); }
.pr .event .ing .event_list .inner > li img { width:100%; }
.pr .event .ing .event_list .inner > li .txt_area { padding:20px 20px 30px; box-sizing:border-box; }
.pr .event .ing .event_list .inner > li .txt_area h3 { font-size:16px; }
.pr .event .ing .event_list .inner > li .txt_area ul { margin-top:24px; }
.pr .event .ing .event_list .inner > li .txt_area ul li { font-size:12px; line-height:15px; color:#807e7e; }
.pr .event .ing .event_list .paging { margin-top:30px; }

/* event_list_ing */
.pr .event .ing .reply_wrap { margin-top:60px; padding:0 20px; }
.pr .event .ing .reply_wrap .reply_num { font-size:13px; color:#231f20; }
.pr .event .ing .reply_wrap .reply { margin-top:10px; }
.pr .event .ing .reply_wrap small { display:block; text-align:right; padding:15px 0;}
.pr .event .ing .reply_box { position:relative; padding:12px 15px 40px; box-sizing:border-box; border:1px solid #e4e4e4; }
.pr .event .ing .reply_box textarea { width:100%; font-size:13px; line-height:18px; height:54px; box-sizing:border-box; border:none; }
.pr .event .ing .reply_box .re_counter { position:absolute; right:15px; bottom:16px; display:block; }
.pr .event .ing .reply_list { margin-top:25px; border-top:1px solid #e4e4e4; }
.pr .event .ing .reply_list li { padding:13px 0 15px; border-bottom:1px solid #e4e4e4; }
.pr .event .ing .reply_list li p { font-size:13px; line-height:16px; }
.pr .event .ing .reply_list li .btn_area { margin-top:10px; text-align:right;}
.pr .event .ing .reply_list li .btn_area button { width:47px; height:27px; font-size:12px; box-sizing:border-box; }
.pr .event .ing .reply_list li .btn_area button.btn_update { background:#555; color:#fff; line-height:27px; vertical-align:middle; }
.pr .event .ing .reply_list li .btn_area button.btn_delete { margin-left:2px; background:#fff; color:#555; border:1px solid #555; vertical-align:middle; }
.pr .event .ing .reply_list li dl {  margin-bottom:8px; font-size:13px; line-height:15px; }
.pr .event .ing .reply_list li dl:after { content:''; display:block; clear:both; }
.pr .event .ing .reply_list li dl dt { float:left; color:#000; padding-right:15px; }
.pr .event .ing .reply_list li dl dd { position:relative; float:left; color:#807e7e; padding-left:16px; }
.pr .event .ing .reply_list li dl dd:before { content:''; position:absolute; left:0px; top:50%; margin-top:-5px; display:block; width:1px; height:10px; background:#bcbcbc; }
.pr .event .ing .reply_list li.edit_reply { padding-bottom:0; border:none; }
.pr .event .ing .re_counter { font-size:13px; color:#949494; }
.pr .event .ing .re_counter b { font-weight:600; color:#656565; }
.pr .event .ing .no_data { margin-top:24px; }
.pr .event .ing .btn_ok { width:100%; height:45px; font-size:16px; background:#ce462e; color:#fff; text-align:center; }
.pr .event .ing .reply_wrap + .btn_list { margin-top:25px; }
