/**
* --------------------------------
* 홍보센터 CSS
* --------------------------------
*/

/* common */
.sns_area { padding:20px 0; border-bottom:1px solid #221e1f; }
.sns_area ul:after { content:''; display:block; clear:both; }
.sns_area li { float:left; margin-left:7px;}
.sns_area li:first-child { margin-left:0; }
.sns_area li .sns_icon { display:block; width:33px; height:33px; background:url('/pjtCom/images/common/sns.png') no-repeat 0 0; background-size:111px; text-indent:-9999px; }
.sns_area li .sns_icon.fb { background-position:0 0; }
.sns_area li .sns_icon.band { background-position:-40px 0; }
.sns_area li .sns_icon.kakao { background-position:-79px 0; }

.view_list .tit h3 { position:relative; display:inline-block; line-height:20px; padding-bottom:8px; }
.view_list .tit h3.new { padding-right:45px; }
.view_list .tit h3.new:after {  content:''; display:block; position:absolute; right:0; top:3px; width:34px; height:14px; background:url('/pjtCom/images/common/notice.png') no-repeat -26px 0; background-size:75px; }
.view_list .tit dl { padding:5px 0; line-height:20px; font-size:12px; color:#807e7e; border-top:1px solid #221e1f; }
.view_list .tit dl:after { content:''; display:block; clear:both; }
.view_list .tit dl dt { float:left; }
.view_list .tit dl dt:nth-child(3) { clear:both; }
.view_list .tit dl dd { float:left; margin-left:20px; }
.view_list .txt_area { padding:40px 0 26px; }
.view_list .txt_area img { width:100%; }
.view_list .btn_area { margin-top:60px; text-align:center; }
.view_list .btn_area .btn_gray { display:inline-block; width:125px; height:44px; line-height:44px; background:#555555; color:#fff; }

/* press */
.pr .press .section { padding:16px 20px 0; box-sizing:border-box; }
.pr .press .block_list p { font-size:13px; color:#807e7f; }
.pr .press .block_list ul { margin-top:10px; }
.pr .press .block_list ul li { position:relative; margin-top:10px; height:117px; }
.pr .press .block_list ul li:first-child { margin-top:0; }
.pr .press .block_list ul li a { position:relative; display:block; width:100%; height:100%; border:1px solid #e7e7e7; box-sizing:border-box; }
.pr .press .block_list ul li a:after { content:''; position:absolute; right:26px; bottom:27px; width:34px; height:5px; background:url('/pjtCom/images/common/right_arrow.png') no-repeat 0 0; background-size:34px; }
.pr .press .block_list ul li .img_area { position:absolute; top:50%; left:58px; transform:translate(-50%,-50%); border-radius:90px; overflow:hidden; }
.pr .press .block_list ul li .img_area img { width:90px; height:90px; }
.pr .press .block_list ul li .txt_area { float:right; width:100%; padding:21px 26px 0 116px; box-sizing:border-box; }
.pr .press .block_list ul li span { font-size:12px; color:#807e7e; }
.pr .press .block_list ul li h3 { margin-top:8px; font-size:13px; line-height:15px; max-height:30px; }
.pr .press .block_list .paging { margin-top:30px; }

/* press_view */
.pr .press .press_view .section { padding:0 20px; }

/* notice */
.pr .notice .section { padding:16px 20px 0; box-sizing:border-box; }
.pr .notice .notice_list p { font-size:13px; color:#807e7f; }
.pr .notice .notice_list ul { margin-top:10px; border-top:1px solid #e4e4e4; }
.pr .notice .notice_list ul li { border-bottom:1px solid #e4e4e4; }
.pr .notice .notice_list ul li a { display:block; width:100%; padding:18px 20px; box-sizing:border-box; }
.pr .notice .notice_list ul li h3 { position:relative; display:inline-block; font-size:13px; line-height:17px; height:34px; max-height:34px; color:#231f20; box-sizing:border-box; }
.pr .notice .notice_list ul li h3:before { content:''; display:none; position:absolute; left:0; top:0; width:20px; height:16px; background:url('/pjtCom/images/common/notice.png') no-repeat 0 0; background-size:75px; }
.pr .notice .notice_list ul li h3:after { content:''; display:none; position:absolute; right:0; top:2px; width:34px; height:14px; background:url('/pjtCom/images/common/notice.png') no-repeat -26px 0; background-size:75px; }
.pr .notice .notice_list ul li h3.new { padding-right:42px; }
.pr .notice .notice_list ul li h3.new:after { display:block; }
.pr .notice .notice_list ul li span { display:block; margin-top:10px; font-size:12px; text-align:right; color:#807e7e; }
.pr .notice .notice_list ul li.fix_notice { background:#f7f7f7; }
.pr .notice .notice_list ul li.fix_notice h3 { padding-left:33px; }
.pr .notice .notice_list ul li.fix_notice h3:before { display:block; }
.pr .notice .notice_list .paging { margin-top:30px; }

/* event_list_ing */
.pr .event .ing .tab_wrap:after { content:''; display:block; clear:both; }
.pr .event .ing .tab_wrap a { position:relative; float:left; display:block; width:50%; line-height:34px; font-size:15px; text-align:center; }
.pr .event .ing .tab_wrap a:after { content:''; position:absolute; left:0; bottom:0; display:block; width:100%; height:1px; background:#e4e4e4; }
.pr .event .ing .tab_wrap a.on { font-weight:600; color:#231f20; }
.pr .event .ing .tab_wrap a.on:after { height:2px; background:#231f20; }
.pr .event .ing .section { padding:0 20px; box-sizing:border-box; }
.pr .event .ing .event_list { margin-top:30px; }
.pr .event .ing .event_list .inner > li { position:relative; margin-top:10px; border-bottom:1px solid #e4e4e4; }
.pr .event .ing .event_list .inner > li:after { content:''; display:block; position:absolute; right:20px; bottom:20px; width:34px; height:6px; background:url('/pjtCom/images/common/right_arrow.png') no-repeat 0 0; background-size:34px; }
.pr .event .ing .event_list .inner > li:first-child { margin-top:0; }
.pr .event .ing .event_list .inner > li a { display:block; width:100%; }
.pr .event .ing .event_list .inner > li .img_area { width:calc(100vw - 40px); }
.pr .event .ing .event_list .inner > li img { width:100%; }
.pr .event .ing .event_list .inner > li .txt_area { padding:20px 20px 30px; box-sizing:border-box; }
.pr .event .ing .event_list .inner > li .txt_area h3 { font-size:16px; }
.pr .event .ing .event_list .inner > li .txt_area ul { margin-top:24px; }
.pr .event .ing .event_list .inner > li .txt_area ul li { font-size:12px; line-height:15px; color:#807e7e; }
.pr .event .ing .event_list .paging { margin-top:30px; }

/* event_list_ing */
.pr .event .ing .reply_wrap { margin-top:60px; }
.pr .event .ing .reply_wrap .reply_num { font-size:13px; color:#231f20; }
.pr .event .ing .reply_wrap .reply { margin-top:10px; }
.pr .event .ing .reply_wrap small { display:block; text-align:right; padding:15px 0;}
.pr .event .ing .reply_box { position:relative; padding:12px 15px 40px; box-sizing:border-box; border:1px solid #e4e4e4; }
.pr .event .ing .reply_box textarea { width:100%; font-size:13px; line-height:18px; height:54px; box-sizing:border-box; border:none; }
.pr .event .ing .reply_box .re_counter { position:absolute; right:15px; bottom:16px; display:block; }
.pr .event .ing .reply_list { margin-top:25px; border-top:1px solid #e4e4e4; }
.pr .event .ing .reply_list li { padding:13px 0 15px; border-bottom:1px solid #e4e4e4; }
.pr .event .ing .reply_list li p { font-size:13px; line-height:16px; }
.pr .event .ing .reply_list li .btn_area { margin-top:10px; text-align:right;}
.pr .event .ing .reply_list li .btn_area button { width:47px; height:27px; font-size:12px; box-sizing:border-box; }
.pr .event .ing .reply_list li .btn_area button.btn_update { background:#555; color:#fff; line-height:27px; vertical-align:middle; }
.pr .event .ing .reply_list li .btn_area button.btn_delete { margin-left:2px; background:#fff; color:#555; border:1px solid #555; vertical-align:middle; }
.pr .event .ing .reply_list li dl {  margin-bottom:8px; font-size:13px; line-height:15px; }
.pr .event .ing .reply_list li dl:after { content:''; display:block; clear:both; }
.pr .event .ing .reply_list li dl dt { float:left; color:#000; padding-right:15px; }
.pr .event .ing .reply_list li dl dd { position:relative; float:left; color:#807e7e; padding-left:16px; }
.pr .event .ing .reply_list li dl dd:before { content:''; position:absolute; left:0px; top:50%; margin-top:-5px; display:block; width:1px; height:10px; background:#bcbcbc; }
.pr .event .ing .reply_list li.edit_reply { padding-bottom:0; border:none; }
.pr .event .ing .re_counter { font-size:13px; color:#949494; }
.pr .event .ing .re_counter b { font-weight:600; color:#656565; }
.pr .event .ing .nodata_reply { position:relative; margin-top:24px; padding-top:72px; text-align:center; }
.pr .event .ing .nodata_reply:before { content:''; position:absolute; left:50%; top:0; margin-left:-36px; display:block; width:72px; height:72px; background:url('/pjtCom/images/common/no_data.jpg') no-repeat 0 0; background-size:72px; }
.pr .event .ing .nodata_reply p { margin-top:19px; font-size:15px; color:#231f20; }
.pr .event .ing .nodata_reply span { margin-top:10px; display:block; font-size:11px; color:#231f20; }
.pr .event .ing .btn_ok { width:100%; height:45px; font-size:16px; background:#ce462e; color:#fff; text-align:center; }
.pr .event .ing .btn_area.mgt25 { margin-top:25px; }
