/**
* --------------------------------
* 마이페이지 CSS
* --------------------------------
*/

.mypage .mypage_main { background:#fff; }
.mypage .mypage_main .tit { font-size:22px; text-align:center; }
.mypage .mypage_main .txt { font-size:13px; text-align:center; margin-top:13px; }
.mypage .mypage_main .cont .cont_inner { padding:0 20px; }
.mypage .mypage_main .cont .cont_inner .btn_area { width:100%; margin-top:28px; }
.mypage .mypage_main .cont .cont_inner .btn_area .btn_org { display:block; width:100%; height:45px; line-height:45px; background:#ce462e; color:#fff; }
.mypage .mypage_main .cont .cont_inner .btn_area .btn_wht { display:block; width:100%; height:45px; line-height:45px; color:#231f20; margin-top:10px; border:1px solid #231f20; box-sizing:border-box; }
.mypage .mypage_main .cont .cont_inner .mylink { margin-top:30px; padding-top:28px; border-top:1px solid #343536; }
.mypage .mypage_main .cont .cont_inner .mylink:after { content:""; display:block; clear:both; }
.mypage .mypage_main .cont .cont_inner dl { float:left; width:calc((100% - 10px) / 2); }
.mypage .mypage_main .cont .cont_inner dl:nth-child(2) { float:left; margin-left:10px; }
.mypage .mypage_main .cont .cont_inner dl dt { font-size:16px; font-weight:600; padding-left:10px; box-sizing:border-box;  }
.mypage .mypage_main .cont .cont_inner dl dd { font-size:14px; border-bottom:1px solid #e4e4e4; }
.mypage .mypage_main .cont .cont_inner dl dd a { position:relative; display:block; line-height:44px; padding-left:10px; box-sizing:border-box; }
.mypage .mypage_main .cont .cont_inner dl dd a:after { content:""; position:absolute; right:10px; top:50%; transform:translateY(-50%); display:block; width:5px; height:8px; background:url('/pjtCom/images/sub/icon_mypage.png') no-repeat 0 0; background-size:5px; }

/* password_ok */
.mypage .mypage_pw .section { padding:30px 20px 0; box-sizing:border-box; }
.mypage .mypage_pw h3 { font-size:22px; text-align:center; }
.mypage .mypage_pw p { margin-top:10px; font-size:13px; line-height:18px; text-align:center; color:#807e7f; }
.mypage .mypage_pw .inp_pw { position:relative; margin-top:78px; padding-right:85px; margin-bottom:90px; }
.mypage .mypage_pw .inp_pw .btn_gray { position:absolute; right:0; top:0; display:block; width:75px; height:40px; color:#fff; background:#555555; }

/* password_update */
.mypage .password_update .section { padding:0 20px; box-sizing:border-box; }
.mypage .password_update .inp_box { margin-top:30px; }
.mypage .password_update .inp_box.mgt0 { margin-top:0; padding-bottom:30px; border-bottom:1px solid #e4e4e4; }
.mypage .password_update .inp_box strong { display:block; width:100%; font-size:15px; font-weight:400; color:#555555; }
.mypage .password_update .inp_box label { margin-top:8px; display:block; }
.mypage .password_update .inp_box input[type="password"] { line-height:24px; padding:10px 12px; height:auto; }
.mypage .password_update .inp_box small { display:block; margin-top:7px; color:#807e7f; }
.mypage .password_update .btn_area { margin-top:60px; }
.mypage .password_update .btn_area:after { content:''; display:block; clear:both; }
.mypage .password_update .btn_area button { width:calc(50% - 4px); }
.mypage .password_update .btn_area .btn_gray { float:left; background:#555555; color:#fff; line-height:45px; }
.mypage .password_update .btn_area .btn_wht { float:left; margin-left:8px; border:1px solid #231f20; background:#fff; color:#231f20; line-height:43px; }

/* modify */
.mypage .modify h2 { font-size:15px; font-weight:600; color:#555555; }
.mypage .modify .form_area .name_box { position:relative; width:100%; font-size:0; margin-top:15px; padding-right:75px; box-sizing:border-box; }
.mypage .modify .form_area .name_box span  { display:inline-block; height:45px; line-height:45px; font-size:15px; color:#555; margin-bottom:7px; }
.mypage .modify .form_area .name_box input { width:calc(100% - 75px); height:45px; line-height:45px; font-size:15px; color:#555; margin-bottom:7px; }
.mypage .modify .form_area .name_box span:first-child { width:72px; line-height:45px; }
.mypage .modify .form_area .name_box .btn_gray { position:absolute; right:0;top:0; width:75px; height:45px; font-size:16px; line-height:45px; background:#555; color:#fff; }
.mypage .modify .form_area .id_box { line-height:45px; }
.mypage .modify .form_area .id_box span { display:inline-block; line-height:45px; font-size:15px; color:#555; }
.mypage .modify .form_area .id_box span:first-child { width:72px; line-height:45px; }
.mypage .modify .form_area { padding:0 20px; }
.mypage .modify .form_area [class^="inp_"] { margin-top:10px; overflow:hidden; }
.mypage .modify .form_area [class^="inp_"] + .txt { font-size:11px; color:#807e7f; margin-top:7px; }
.mypage .modify .form_area .inp_tel { font-size:0; }
.mypage .modify .form_area .inp_tel span { display:inline-block; width:72px; font-size:15px; color:#555; }
.mypage .modify .form_area .inp_tel select,
.mypage .modify .form_area .inp_tel input { width:calc((100% - 72px - 28px) / 3); }
.mypage .modify .form_area .inp_tel .hyphen { display:inline-block; width:14px; height:40px; line-height:40px; text-align:center; vertical-align:top; }
.mypage .modify .form_area .inp_tel .hyphen:before { content:""; display:inline-block; width:5px; height:1px; background:#b1b1b1; }
.mypage .modify .form_area .inp_tel + .txt { margin-left:72px; }
.mypage .modify .form_area .inp_tel  + .txt + .error_txt { margin-left:72px; }
.mypage .modify .form_area .inp_mail { font-size:0; }
.mypage .modify .form_area .inp_mail span { display:block; font-size:15px; color:#555; margin-bottom:7px; }
.mypage .modify .form_area .inp_mail select,
.mypage .modify .form_area .inp_mail input { width:calc((100% - 22px)/2); }
.mypage .modify .form_area .inp_mail .at { display:inline-block; width:22px; height:40px; font-size:15px; color:#949494; line-height:40px; text-align:center; vertical-align:top; padding-left:0; margin-bottom:0; }
.mypage .modify .form_area .inp_mail .at:before { content:"@"; }
.mypage .modify .form_area .inp_mail .direct { display:none; width:100%; margin-top:10px; }
.mypage .modify .form_area .inp_choose { font-size:15px; color:#555; }
.mypage .modify .form_area .inp_choose span { margin-left:10px; }
.mypage .modify .form_area .inp_choose label { margin-left:25px; }
.mypage .modify .form_area .inp_choose label:before { margin-right:6px; }
.mypage .modify .form_area .inp_region,
.mypage .modify .form_area .inp_job { font-size:0; }
.mypage .modify .form_area .inp_region span,
.mypage .modify .form_area .inp_job span { display:inline-block; width:75px; height:40px;  font-size:15px; line-height:40px; vertical-align:top; color:#555; padding-left:10px; box-sizing:border-box; }
.mypage .modify .form_area .inp_region select,
.mypage .modify .form_area .inp_job select { display:inline-block; width:calc(100% - 75px); }
.mypage .modify .form_area .inp_job input { display:inline-block; width:calc(100% - 75px); margin:10px 0 0 75px; }
.mypage .modify .form_area .inp_job .direct { display:none; }
.mypage .modify .form_area .inp_job + .txt { margin-left:75px; }
.mypage .modify .form_area .btn_area { font-size:0; margin-top:58px; }
.mypage .modify .form_area .btn_area:after { content:''; display:block; clear:both; }
.mypage .modify .form_area .btn_area [class^="btn"] { float:left; width:calc((100% - 5px) / 2 - 5px); font-size:16px; height:45px; }
.mypage .modify .form_area .btn_area .btn_update { color:#fff; background:#ce462d; }
.mypage .modify .form_area .btn_area .btn_cancel { color:#231f20; margin-left:10px; border:1px solid #231f20; background:#fff; }
.mypage .modify .form_area .error1 .error_pw,
.mypage .modify .form_area .error2 .error_tel { display:block; }
.mypage .modify .secession { margin-top:60px; padding:0 20px; }
.mypage .modify .secession p { margin-top:10px; font-size:13px; }
.mypage .modify .secession .btn_area { margin-top:30px; }
.mypage .modify .secession .btn_area:before,
.mypage .modify .secession .btn_area:after { display:none; }
.mypage .modify .secession .btn_area .btn_gray { width:100%; line-height:45px; font-size:16px; color:#fff; background:#555; }
.alert.type_modify .txt { margin:15px 0; }
.alert.type_modify input[type="text"] { border:1px solid #fff; border-bottom:1px solid #231f20; line-height:24px; padding:3px 0; text-align:center; margin-bottom:25px; }

/* secession */
.mypage .secession h2 { font-size:15px; font-weight:600; color:#555555; }
.mypage .secession h2 span { font-weight:400; }
.mypage .secession .section { padding:0 20px; box-sizing:border-box; }
.mypage .secession .inp_choose { font-size:15px; color:#555; }
.mypage .secession .inp_choose span { margin-left:10px; }
.mypage .secession .inp_choose label { margin-top:25px; display:block; }
.mypage .secession .inp_choose label:first-child { margin-top:0; }
.mypage .secession .inp_choose label:before { margin-right:6px; }
.mypage .secession .inp_choose label.etc { display:inline-block; width:72px; }
.mypage .secession .inp_choose input[type="text"] { width:calc(100% - 76px); }
.mypage .secession .txt { padding-left:10px; margin-top:25px; text-indent:-10px; font-size:15px; line-height:18px; color:#231f20; }
.mypage .secession input[type=radio].rdo_type1 + label { padding-left:30px; height:auto; box-sizing:border-box; }
.mypage .secession input[type=radio].rdo_type1 + label:before { position:absolute; left:0; top:0; }
.mypage .secession input[type=checkbox].chk_type1 + label { margin-top:40px; padding-left:30px; height:auto; }
.mypage .secession input[type=checkbox].chk_type1 + label:before { position:absolute; left:0; top:0; }
.mypage .secession .inp_id { margin-top:40px; }
.mypage .secession .inp_pw { margin-top:10px; }
.mypage .secession .inp_id span,
.mypage .secession .inp_pw span { display:inline-block; width:72px; line-height:45px; }
.mypage .secession .inp_id input,
.mypage .secession .inp_pw input { width:calc(100% - 76px); padding:10px 12px; line-height:24px; }
.mypage .secession .btn_area { margin-top:60px; }
.mypage .secession .btn_area:before,
.mypage .secession .btn_area:after { display:none; }
.mypage .secession .btn_area button { float:left; width:calc(50% - 5px); line-height:45px; text-align:center; }
.mypage .secession .btn_area .btn_secession { line-height:45px; font-size:16px; color:#fff; background:#555; }
.mypage .secession .btn_area .btn_cancel { margin-left:10px; border:1px solid #231f20; line-height:43px; background:#fff; color:#231f20; box-sizing:border-box; }
.alert.type_secession .txt1 { margin:15px 0 0; font-size:15px; text-align:center; }
.alert.type_secession .txt2 { margin:20px 0 38px; font-size:12px; text-align:center; }

/* mypage chk_type2 */
.mypage .chk_type2 input[type=checkbox] + label { position:absolute; left:0; top:0; display:block; width:100%; height:100%; margin-left:0; padding-left:0; border:1px solid rgba(0,0,0,0); box-sizing:border-box; }
.mypage .chk_type2 input[type=checkbox] + label:before { position:absolute; top:8px; left:8px; margin-left:0; transform:translate(0,0); width:18px; height:18px; background:url('/pjtCom/images/common/chk_type2.png') no-repeat 0 0; background-size:41px; }
.mypage .chk_type2 input[type=checkbox]:checked + label:before { background-position:-23px 0; }
.mypage .choice_box { width:100%; margin-top:10px; }
.mypage .choice_box:after { content:""; display:block; clear:both; }
.mypage .choice_box button { float:left; display:block; width:90px; height:44px; font-size:15px; border:1px solid #231f20; color:#231f20; background:#fff; }
.mypage .choice_box .btn_choiceAll { float:left; }
.mypage .choice_box .btn_delete { float:right; }
.mypage .paging { margin-top:30px; }

/* scrap */
.mypage .scrap .tab_area { width:100%; padding:0 20px; box-sizing:border-box; }
.mypage .scrap .tab_area ul { width:100%; border-bottom:1px solid #e4e4e4; }
.mypage .scrap .tab_area ul:after { content:''; display:block; clear:both; }
.mypage .scrap .tab_area ul li { float:left; width:32%; }
.mypage .scrap .tab_area ul li:nth-child(2) { width:36%; }
.mypage .scrap .tab_area ul li a { position:relative; display:block; width:100%; line-height:32px; text-align:center; font-size:15px; letter-spacing:-0.05em; color:#555; }
.mypage .scrap .tab_area ul li.on a { font-weight:600; color:#231f20; }
.mypage .scrap .tab_area ul li.on a:after { content:''; position:absolute; left:0; bottom:-1px; display:block; width:100%; height:2px; background:#231f20; }
.mypage .scrap { background:#fff; }
.mypage .scrap .result_list li label { position:absolute; width:0; height:0; top:0; left:-9999px; overflow:hidden; left:-9999px; }
.mypage .scrap .result_list.chk_type2 li label { position:absolute; left:0; top:0; display:block; width:39px; height:39px; box-sizing:border-box; z-index:1; background:none; }
.mypage .scrap .result_list.chk_type2 label:before { content:''; display:block; top:8px; left:8px; }
.mypage .scrap [class*="bbs_masonry_list"] { margin-top:30px; }

/* scrap 셰프레시피 */
.mypage .scrap .recipe .sort_menu { padding:30px 20px 0; box-sizing:border-box; }
.mypage .scrap .recipe .sort_menu ul:after { content:''; display:block; clear:both; }
.mypage .scrap .recipe .sort_menu ul li { position:relative; float:left; width:25%; }
.mypage .scrap .recipe .sort_menu ul li:before { content:''; position:absolute; left:0; top:50%; display:block; width:1px; height:26px; margin-top:-19px; background:#807e7f; }
.mypage .scrap .recipe .sort_menu ul li:first-child:before { display:none; }
.mypage .scrap .recipe .sort_menu ul li a { position:relative; display:block; width:100%; font-size:13px; padding-top:37px; text-align:center; }
.mypage .scrap .recipe .sort_menu ul li a:before { content:''; position:absolute; left:50%; top:0; display:block; width:32px; height:27px; background:url('/pjtCom/images/sub/img_mypage_scrap01.png') no-repeat 0 0; margin-left:-16px; background-size:143px; }
.mypage .scrap .recipe .sort_menu ul li:nth-child(2) a:before { background-position:-37px 0; }
.mypage .scrap .recipe .sort_menu ul li:nth-child(3) a:before { background-position:-74px 0; }
.mypage .scrap .recipe .sort_menu ul li:nth-child(4) a:before { background-position:-111px 0; }
.mypage .scrap .recipe .result_list a { padding:27px; }
.mypage .scrap .recipe .result_list li { position:relative; }
.mypage .scrap .recipe .result_list.chk_type2 input[type=checkbox]:checked + label + a:before { content:''; position:absolute; left:0; top:0; display:block; width:100%; height:100%; border:1px solid #ce462e; box-sizing:border-box; }

/* scrap 메뉴 원가계산기 */
.mypage .scrap .calc .bbs_calc_list { margin-top:30px; padding:0 20px; }
.mypage .scrap .calc .bbs_calc_list p { font-size:13px; color:#807e7f; }
.mypage .scrap .calc .bbs_calc_list .result_list { margin-top:10px; border-top:1px solid #e4e4e4; }
.mypage .scrap .calc .bbs_calc_list .result_list li { position:relative; border-bottom:1px solid #e4e4e4; }
.mypage .scrap .calc .bbs_calc_list .result_list li a { display:block; padding:20px 0 20px 40px; width:100%; box-sizing:border-box; }
.mypage .scrap .calc .bbs_calc_list .result_list li a .tit { font-size:13px; color:#231f20; line-height:15px; max-height:30px;}
.mypage .scrap .calc .bbs_calc_list .result_list li a .date { margin-top:12px; font-size:13px; color:#807e7e; }
.mypage .scrap .calc .bbs_calc_list .result_list li label { width:40px; height:100%; top:0; left:0; }
.mypage .scrap .calc .bbs_calc_list .result_list li label:before { left:8px; top:50%; margin-top:-9px; }

/* scrap 매거진 */
.mypage .scrap .magazine .result_list.chk_type2 input[type=checkbox]:checked + label + a:before { content:''; position:absolute; left:0; top:0; display:block; width:100%; height:100%; border:1px solid #ce462e; box-sizing:border-box; }

/* history */
.mypage .history .tab_area,
.mypage .consult .tab_area { width:100%; padding:0 20px; box-sizing:border-box; }
.mypage .history .tab_area ul,
.mypage .consult .tab_area ul { width:100%; border-bottom:1px solid #e4e4e4; }
.mypage .history .tab_area ul:after,
.mypage .consult .tab_area ul:after { content:''; display:block; clear:both; }
.mypage .history .tab_area ul li,
.mypage .consult .tab_area ul li { float:left; width:50%; }
.mypage .history .tab_area ul li a,
.mypage .consult .tab_area ul li a { position:relative; display:block; width:100%; line-height:32px; text-align:center; font-size:15px; letter-spacing:-0.05em; color:#555; }
.mypage .history .tab_area ul li.on a,
.mypage .consult .tab_area ul li.on a { font-weight:600; color:#231f20; }
.mypage .history .tab_area ul li.on a:after,
.mypage .consult .tab_area ul li.on a:after { content:''; position:absolute; left:0; bottom:-1px; display:block; width:100%; height:2px; background:#231f20; }

.mypage .history [class*="bbs_basic_list"] li { position:relative; }
.mypage .history [class*="bbs_basic_list"] li label { width:35px; }
.mypage .history [class*="bbs_basic_list"] li label:before { left:7px; top:50%; margin-top:-8px; }
.mypage .history [class*="bbs_basic_list"] li label + a { padding-left:35px; box-sizing:border-box; }
.mypage .history .result_area .txt_area .subject:after {content:""; display:none; position:absolute; right:0; top:-1px; height:13px; background:url('/pjtCom/images/common/icon_qna.png') no-repeat 0 0; background-size:60px; border-radius:0; }
.mypage .history .result_area .txt_area .subject.rock { padding-right:22px; }
.mypage .history .result_area .txt_area .subject.rock:after { display:inline-block; width:10px; background-position-x:0px; }
.mypage .history .result_area .txt_area .subject.answer { padding-right:53px; }
.mypage .history .result_area .txt_area .subject.answer:after { display:inline-block; width:40px; background-position-x:-20px; }
.mypage .history .result_area .txt_area .subject.rock.answer { padding-right:72px; }
.mypage .history .result_area .txt_area .subject.rock.answer:after { display:inline-block; width:60px; background-position-x:0; }

/* counsel */
.mypage .consult [class*="bbs_basic_list"] li { position:relative; }
.mypage .consult [class*="bbs_basic_list"] li label { width:35px; }
.mypage .consult [class*="bbs_basic_list"] li label:before { left:7px; top:50%; margin-top:-8px; }
.mypage .consult [class*="bbs_basic_list"] li label + a { padding-left:35px; box-sizing:border-box; }
.mypage .consult .result_area .txt_area .subject:after {content:""; display:none; position:absolute; right:0; top:-1px; height:13px; background:url('/pjtCom/images/common/icon_qna.png') no-repeat 0 0; background-size:60px; border-radius:0; }
.mypage .consult .result_area .txt_area .subject.rock { padding-right:22px; }
.mypage .consult .result_area .txt_area .subject.rock:after { display:inline-block; width:10px; background-position-x:0px; }
.mypage .consult .result_area .txt_area .subject.answer { padding-right:53px; }
.mypage .consult .result_area .txt_area .subject.answer:after { display:inline-block; width:40px; background-position-x:-20px; }
.mypage .consult .result_area .txt_area .subject.rock.answer { padding-right:72px; }
.mypage .consult .result_area .txt_area .subject.rock.answer:after { display:inline-block; width:60px; background-position-x:0; }
