/**
 * --------------------------------
 * Common CSS
 * --------------------------------
 */
 @font-face {
     font-family: 'NanumSquare';
     font-style: normal;
     font-weight: 400;
     src: local('NanumSquareL'),
     url('/pjtCom/fonts/NanumSquareL.eot'),
     url('/pjtCom/fonts/NanumSquareL.eot?#iefix') format('embedded-opentype'),
     url('/pjtCom/fonts/NanumSquareL.woff') format('woff');
 }

 @font-face {
     font-family: 'NanumSquare';
     font-style: normal;
     font-weight: 500;
     src: local('NanumSquareR'),
     url('/pjtCom/fonts/NanumSquareR.eot'),
     url('/pjtCom/fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'),
     url('/pjtCom/fonts/NanumSquareR.woff') format('woff');
 }

 @font-face {
     font-family: 'NanumSquare';
     font-style: normal;
     font-weight: 600;
     src: local('NanumSquareEB'),
     url('/pjtCom/fonts/NanumSquareEB.eot'),
     url('/pjtCom/fonts/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
     url('/pjtCom/fonts/NanumSquareEB.woff') format('woff');
 }

html, body { min-height:100%; height:100%; }
html { font-family:'NanumSquare', sans-serif; font-weight:400; font-size:16px; letter-spacing:-0.04em; line-height:1; color:#555; word-break:keep-all; word-wrap:break-word; }
h1,h2,h3,h4,h5,h6 { margin:0; }
ul, ol { list-style:none; margin:0; padding:0; }
fieldset { margin:0; padding:0; border:none; }
textarea { resize:none; }
button { font-family:'NanumSquare', sans-serif; cursor:pointer; padding:0; border:none; }
a { text-decoration:none; color:#555; }
p { margin:0; }
em { font-style:normal; }
table { table-layout:fixed; width:100%; border-collapse:collapse; border-spacing:0; }
th { padding:0; }
td { padding:0; }
input { padding:0; box-sizing:border-box; }
dl, dd { margin:0; }
figure { margin:0; }
img { vertical-align:top; }
hr { display:none; }
address { font-style:normal; }
[type=file] { cursor:pointer; }
.hide { position:absolute; left:-9999px; }

/* skip */
.skip a { display:flex;position:absolute; z-index:9999; top:-35px; width:100%; height:33px; font-size:15px; line-height:33px; font-weight:bold; letter-spacing:-2px; text-align:center; text-decoration:none; background:#ffffff; opacity:0.9; }
.skip a:focus { top:0; }
.skip a:hover { letter-spacing:-1px; }




/* btn */
[class^="btn_"]:not(.btn_area) { display:inline-block; box-sizing:border-box; text-align:center; }
[class^="btn_"]:before,
[class^="btn_"]:after { content:""; display:inline-block; height:100%; vertical-align:middle; }

/* select */
select { width:100%; height:40px; font-size:15px; color:#555; padding:0 10px; line-height:40px; border-radius:0; border:1px solid #e4e4e4; box-sizing:border-box; background:url(/pjtCom/images/common/icon_select.png) no-repeat right center; background-size:20px; -webkit-appearance:none; }

/* input */
input[type=text], input[type=number], input[type=password] { width:100%; height:40px; font-size:15px; color:#555; padding:0 10px; line-height:40px; border-radius:0; border:1px solid #e4e4e4; box-sizing:border-box; -webkit-appearance:none; }
input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus { border:1px solid #555; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance:none; }
input::placeholder { font-size:15px; letter-spacing:-0.04em; color:#949494; }


/* .inp_type2 input[type=text],
.inp_type2 input[type=number],
.inp_type2 input[type=password] { border:1px solid #e4e4e4; }
.inp_type2 input[type=text]:focus,
.inp_type2 input[type=number]:focus,
.inp_type2 input[type=password]:focus { border:1px solid #555; }
.inp_type3 input[type=text]:focus,
.inp_type3 input[type=number]:focus,
.inp_type3 input[type=password]:focus { border:1px solid rgba(0,0,0,0); border-bottom:2px solid #555; padding-bottom:7px; } */


/* checkbox */
input[type=checkbox] { position:absolute; left:-9999px; }
input[type=checkbox] + label { display:inline-block; position:relative; height:21px; line-height:21px; cursor:pointer; }
input[type=checkbox] + label:before { content:""; display:inline-block; vertical-align:top; background:url(/pjtCom/images/common/icon_form.png) no-repeat 0 0; background-size:100px; }
input[type=checkbox].chk_type1 + label {  }
input[type=checkbox].chk_type1 + label:before { width:21px; height:21px; background-position:0 -24px;}
input[type=checkbox].chk_type1:checked + label:before { background-position:0 -45px; }

/* radio */
input[type=radio] { position:absolute; left:-9999px; }
input[type=radio] + label { display:inline-block; position:relative; height:21px; line-height:21px; cursor:pointer; }
input[type=radio] + label:before { content:""; display:inline-block; vertical-align:top; background:url(/pjtCom/images/common/icon_form.png) no-repeat 0 0; background-size:100px; }
input[type=radio].rdo_type1 + label {  }
input[type=radio].rdo_type1 + label:before { width:21px; height:21px; background-position:0 -24px;}
input[type=radio].rdo_type1:checked + label:before { background-position:0 -45px; }

/* search */
.search_area { margin-bottom:17px; padding:0 20px; box-sizing:border-box; }
.search_area:after { content:""; display:block; clear:both; }
.search_area .inner { position:relative; }
.search_area input { height:35px; border:none; border-bottom:1px solid #000; }
.search_area input:focus { border:none; border-bottom:1px solid #000; }
.search_area .btn_search { position:absolute; top:0; right:0; width:35px; height:35px; text-indent:-9999px; background:none; }
.search_area .btn_search:after { content:""; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:16px; height:15px; background:url(/pjtCom/images/common/icon_form.png) no-repeat 0 -101px; background-size:100px; }
.search_txt { font-size:15px; color:#231f20; text-align:center; }
.no_data { text-align:center; margin:45px 0 75px; }
.no_data .img { width:73px; }
.no_data .txt1 { font-weight:600; font-size:15px; margin:20px 0 10px; }
.no_data .txt2_list { display:inline-block; text-align:left; }
.no_data .txt2 { font-size:11px; line-height:15px; color:#231f20; }
.no_data .txt2:before { content:"-"; display:inline-block; }

/* alert */
.alert { display:none; position:fixed; left:0; top:0; z-index:100; width:100%; height:100%; box-sizing:border-box; background:rgba(0, 0, 0, 0.7); }
.alert .inner { position:absolute; left:50%; top:60%; transform:translate(-50%, -50%); width:calc(100% - 40px); padding:30px; background:#fff; border:1px solid #949494; box-sizing:border-box; }
.alert .inner .btn_close { position:absolute; right:0; top:0; width:42px; height:42px; text-indent:-9999px; background:none; }
.alert .inner .btn_close:before { content:""; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:18px; height:18px; background:url(/pjtCom/images/common/btn_alert_close.png) no-repeat 0 0; background-size:18px; }
.alert .inner .txt { font-size:15px; line-height:20px; text-align:center; color:#231f20; margin:28px 0 30px; }
.alert .inner .txt .small { display:block; font-size:12px; line-height:20px; color:#807e7f; margin-top:10px; }
.alert .inner .btn_ok { display:block; width:100%; height:39px; font-size:16px; text-align:center; color:#fff; margin:0 auto; background:#555; }

/* paging */
.paging { font-size:0; text-align:center; }
.paging a { display:inline-block; vertical-align:middle; }
.paging .num a { font-size:12px; text-align:center; line-height:29px; color:#555; margin:0 7px; }
.paging .num .on { width:29px; height:29px; font-size:18px; color:#fff; border-radius:100%; background:#949494; }
.paging [class^="btn"] { position:relative; width:29px; height:29px; background:none; }
.paging [class^="btn"]:after { content:""; position:absolute; top:50%; left:50%; transform-origin:25% 25%; transform:translate(-50%, -50%); height:11px; background:url(/pjtCom/images/common/btn_paging.png) no-repeat 0 0; background-size:22px; }
.paging .btn_first:after { width:12px; background-position:0 0; }
.paging .btn_last:after { transform:rotate(180deg); width:11px; background-position:0 0; }
.paging .btn_prev:after { width:6px; background-position:-16px 0; }
.paging .btn_next:after { transform:rotate(180deg); width:6px; background-position:-16px 0; }

/* tabmenu */
.tab_contents { display:none; }
.tab_contents.show { display:block; }

/* 게시판 : 목록 : 갤러리 타입 */
[class*="bbs_gallery_list"] { margin-top:15px; padding:0 20px; }
.no_search + [class*="bbs_gallery_list"] { margin-top:0; }
[class*="bbs_gallery_list"] .result { display:block; font-size:13px; color:#807e7f; margin-bottom:9px; }
[class*="bbs_gallery_list"] .result_list:after { content:""; display:block; clear:both; }
[class*="bbs_gallery_list"] .result_list li { float:left; width:calc(50% - 5px); margin:10px 0 0 10px; }
[class*="bbs_gallery_list"] .result_list li:nth-child(1),
[class*="bbs_gallery_list"] .result_list li:nth-child(2) { margin-top:0; }
[class*="bbs_gallery_list"] .result_list li:nth-child(2n+1) { margin-left:0; }
[class*="bbs_gallery_list"] .result_list label,
[class*="bbs_gallery_list"] .result_list a { display:block; position:relative; text-align:center; border:1px solid #e4e4e4; background:#fff; box-sizing:border-box; }
[class*="bbs_gallery_list"] .result_list .txt_area { margin-top:7px; }
[class*="bbs_gallery_list"] .result_list .sort { font-size:12px; line-height:27px; color:#e19d3b; }
[class*="bbs_gallery_list"] .result_list .name { height:32px; font-size:13px; line-height:16px; color:#231f20; }
[class*="bbs_gallery_list"] .result_list .img { width:100%; }
[class*="bbs_gallery_list"] .result_list .date { font-size:12px; color:#807e7f; line-height:14px; margin-top:5px; }
[class*="bbs_gallery_list"] .result_list .state { position:absolute; z-index:1; top:-3px; right:8px; width:50px; height:25px; font-size:10px; text-align:center; color:#fff; overflow:hidden; }
[class*="bbs_gallery_list"] .result_list .state:before { content:""; position:absolute; z-index:-1; bottom:0; left:0; width:50px; height:50px; border-radius:100%; }
[class*="bbs_gallery_list"] .result_list .state.best:before { background:#ee3023; }
[class*="bbs_gallery_list"] .result_list .state.new:before { background:#fdba13; }
[class*="bbs_gallery_list"] .result_list .state.recruit:before { background:#ee3023; }
[class*="bbs_gallery_list"] .result_list .state:after { content:""; display:inline-block; height:100%; vertical-align:middle; }
[class*="bbs_gallery_list"] .paging { margin-top:60px; }

/* 게시판 : 목록 : 확장형 */
[class*="bbs_masonry_list"] { margin-top:15px; padding:0 20px; }
.no_search + [class*="bbs_masonry_list"] { margin-top:0; }
[class*="bbs_masonry_list"] .result { display:block; font-size:13px; color:#807e7f; margin-bottom:9px; }
[class*="bbs_masonry_list"] .result_list:after { content:""; display:block; clear:both; }
[class*="bbs_masonry_list"] .result_list li { float:left; position:relative; width:calc(50% - 5px); margin-top:10px; }
[class*="bbs_masonry_list"] .result_list li:nth-child(1),
[class*="bbs_masonry_list"] .result_list li:nth-child(2) { margin-top:0; }
[class*="bbs_masonry_list"] .result_list a { display:block; position:relative; box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.2); background:#fff; box-sizing:border-box; }
[class*="bbs_masonry_list"] .result_list .img { width:100%; }
[class*="bbs_masonry_list"] .result_list .txt_area { padding:6px 15px 17px; }
[class*="bbs_masonry_list"] .result_list .date { font-size:10px; text-align:left; line-height:25px; color:#807e7e; }
[class*="bbs_masonry_list"] .result_list .subject { height:32px; font-size:13px; line-height:16px; color:#231f20; }
[class*="bbs_masonry_list"] .btn_more { display:block; width:125px; height:44px; font-size:16px; color:#fff; margin:50px auto 0; background:#555; }

/* 게시판 : 상세 : 일반 타입 */
[class*="bbs_basic_view"] .info_area { margin-bottom:60px; }
[class*="bbs_basic_view"] .info_area .tit { position:relative; font-weight:normal; font-size:16px; line-height:19px; color:#231f20; margin:0 20px; padding-bottom:8px; border-bottom:1px solid #a6a6a6; box-sizing:border-box; }
[class*="bbs_basic_view"] .info_area .tit.new:after { content:''; display:inline-block; width:34px; height:14px; vertical-align:middle; margin-left:12px; background:url('/pjtCom/images/common/notice.png') no-repeat -26px 0; background-size:75px; }
[class*="bbs_basic_view"] .info_area dl { font-size:12px; color:#807e7e; padding:0 20px; overflow:hidden; }
[class*="bbs_basic_view"] .info_area dt { clear:left; float:left; position:relative; width:62px; margin-top:10px; }
[class*="bbs_basic_view"] .info_area dd { float:left; margin-top:10px; }
[class*="bbs_basic_view"] .share_function { position:relative; height:43px; margin:0 20px; border-bottom:1px solid #221e1f; }
[class*="bbs_basic_view"] .share_area { position:absolute; top:0 ; left:0; }
[class*="bbs_basic_view"] .share_list li { float:left; margin-left:6px; }
[class*="bbs_basic_view"] .share_list li:first-child { margin-left:0; }
[class*="bbs_basic_view"] .share_list li button { display:block; width:32px; height:33px; text-indent:-9999px; background:url(/pjtCom/images/common/icon_sns.png) no-repeat 0 0; background-size:107px; }
[class*="bbs_basic_view"] .share_list li.facebook button { background-position:0 0; }
[class*="bbs_basic_view"] .share_list li.band button { background-position:-37px 0; }
[class*="bbs_basic_view"] .share_list li.kakao button { background-position:-74px 0; }
[class*="bbs_basic_view"] .function_area { position:absolute; top:0; right:0; }
[class*="bbs_basic_view"] .function_area [class^="btn"] { position:relative; height:auto; font-size:12px; color:#231f20; margin-left:24px; }
[class*="bbs_basic_view"] .function_area [class^="btn"]:after { content:""; display:inline-block; height:33px; margin-left:9px; background:url(/pjtCom/images/common/icon_function.png) no-repeat 0 0; background-size:33px; }
[class*="bbs_basic_view"] .function_area [class^="btn"]:first-child { margin-left:0; }
[class*="bbs_basic_view"] .function_area .btn_scrap:after { width:33px; }
[class*="bbs_basic_view"] .edit_area { margin:40px 0 60px; padding:0 20px; }
[class*="bbs_basic_view"] .edit_area img { max-width:100%; }
[class*="bbs_basic_view"] .btn_list { display:block; width:125px; height:44px; color:#fff; margin:60px auto 0; background:#555; }

/* 게시판 : 상세 : 갤러리 타입 */
[class*="bbs_gallery_view"] { overflow:hidden; }
[class*="bbs_gallery_view"] .info_area:after { content:""; display:block; clear:both; }
[class*="bbs_gallery_view"] .info_area .img img { width:100%; }
[class*="bbs_gallery_view"] .txt_area { margin-top:35px; padding:0 20px; }
[class*="bbs_gallery_view"] .txt_area .sort { box-sizing:border-box; }
[class*="bbs_gallery_view"] .txt_area .tit { font-weight:400; font-size:22px; color:#231f20; margin:10px 0; }
[class*="bbs_gallery_view"] .txt_area > .txt { font-size:12px; color:#555; }
[class*="bbs_gallery_view"] .txt_area .hash_list { overflow:visible !important; }
[class*="bbs_gallery_view"] .txt_area .hash_list li { float:left; width:auto !important; height:80px; line-height:80px; }
[class*="bbs_gallery_view"] .txt_area .hash_list li a { display:inline-block; height:20px; font-size:12px; line-height:20px; color:#231f20; padding:0 5px; border-radius:2px; background:#f5f4f2; }
[class*="bbs_gallery_view"] .txt_area .hash_list li:first-child { margin-left:0; }
[class*="bbs_gallery_view"] .txt_area .btn_area { position:relative; font-size:0; margin-left:-20px; padding:0 20px; }
[class*="bbs_gallery_view"] .txt_area .btn_area [class^="btn"] { width:calc((100% - 5px) / 2); height:48px; font-size:16px; margin-left:5px; }
[class*="bbs_gallery_view"] .txt_area .btn_area [class^="btn"]:before { content:""; display:inline-block; height:19px; vertical-align:middle; margin-right:10px; background:url(/pjtCom/images/common/icon_bbs.png) no-repeat 0 0; background-size:100px; }
[class*="bbs_gallery_view"] .txt_area .btn_area [class^="btn"]:first-child { margin-left:0; }
[class*="bbs_gallery_view"] .txt_area .btn_area .btn_download { color:#fff; background:#d4462c; }
[class*="bbs_gallery_view"] .share_function { position:relative; height:43px; margin:60px 20px 0; border-bottom:1px solid #221e1f; }
[class*="bbs_gallery_view"] .share_area { position:absolute; top:0 ; left:0; }
[class*="bbs_gallery_view"] .share_list li { float:left; margin-left:6px; }
[class*="bbs_gallery_view"] .share_list li:first-child { margin-left:0; }
[class*="bbs_gallery_view"] .share_list li button { display:block; width:32px; height:33px; text-indent:-9999px; background:url(/pjtCom/images/common/icon_sns.png) no-repeat 0 0; background-size:107px; }
[class*="bbs_gallery_view"] .share_list li.facebook button { background-position:0 0; }
[class*="bbs_gallery_view"] .share_list li.band button { background-position:-37px 0; }
[class*="bbs_gallery_view"] .share_list li.kakao button { background-position:-74px 0; }
[class*="bbs_gallery_view"] .function_area { position:absolute; top:0 ; right:0; }
[class*="bbs_gallery_view"] .function_area [class^="btn"] { position:relative; height:auto; font-size:12px; color:#231f20; margin-left:24px; }
[class*="bbs_gallery_view"] .function_area [class^="btn"]:after { content:""; display:inline-block; height:33px; margin-left:9px; background:url(/pjtCom/images/common/icon_function.png) no-repeat 0 0; background-size:33px; }
[class*="bbs_gallery_view"] .function_area [class^="btn"]:first-child { margin-left:0; }
[class*="bbs_gallery_view"] .function_area .btn_scrap:after { width:33px; }
[class*="bbs_gallery_view"] .edit_area { margin:40px 0 60px; padding:0 20px; }
[class*="bbs_gallery_view"] .edit_area img { max-width:100%; }
[class*="bbs_gallery_view"] .btn_list { display:block; width:125px; height:44px; color:#fff; margin:60px auto 0; background:#555; }

/**
* header
* --------------------------------
*/
#header { position:absolute; width:100%; height:50px; border-bottom:1px solid rgba(218, 218, 218, 0.25) }
#header > .inner { height:100%; }
#header > .inner .logo { position:absolute; top:13px; left:20px; font-size:0; }
#header > .inner .logo a { display:inline-block; width:63px; height:24px; vertical-align:middle; text-indent:-9999px; background:url(/pjtCom/images/common/logo.png) no-repeat 0 0; background-size:63px; }
#header > .inner [class^="btn_"] { position:absolute; top:8px; width:38px; height:35px; text-indent:-9999px; }
#header > .inner .btn_search { right:48px; }
#header > .inner .btn_menu { right:10px; }
#header > .inner [class^="btn_"]:before { content:""; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); height:15px; background:url(/pjtCom/images/common/icon_header.png) no-repeat 0 0; background-size:100px; }
#header > .inner .btn_search:before { width:16px; background-position:0 0; }
#header > .inner .btn_menu:before { width:18px; background-position:-18px 0; }
#header .page_tit { position:absolute; top:50%;; left:50%; transform:translate(-50%, -50%); font-size:16px; color:#231f20; }

#menu { position:fixed; z-index:9; top:0; right:0; transform:translateX(110%); transition-duration:0.5s; width:87.5%; max-width:315px; height:100%; }
#menu .btn_close { position:absolute; z-index:1; top:20px; left:0; transform:translateX(0) rotate(0deg); transition-delay:0.4s; transition-duration:0.3s; min-width:40px; height:15px; text-indent:-9999px; }
#menu .btn_close:before { position:absolute; top:0; left:50%; width:15px; height:15px; transform:translateX(-50%); background:url(/pjtCom/images/common/icon_header.png) no-repeat -39px 0; background-size:100px; }
#menu .inner { position:absolute; z-index:1; top:0; right:0; width:100%; height:100%; }
#menu .personal_area { position:relative; z-index:1; padding:16px 20px 17px; background:#ce462d; overflow:hidden; }
#menu .personal_area .btn_login { float:left; width:80px; height:27px; font-size:12px; color:#fff; border:1px solid #fcf3f1; }
#menu .personal_area p { float:left; font-weight:400; font-size:13px; line-height:27px; color:#fff; margin-left:15px; }
#menu .gnb { position:absolute; top:0; right:0; width:100%; height:100%; padding-top:60px; box-sizing:border-box; background:#fff; overflow:hidden; overflow-y:scroll; }
#menu .gnb a { display:block; position:relative; height:50px; line-height:50px; color:#231f20; padding-left:20px; }
#menu .gnb li { border-top:1px solid #e5e5e5; }
#menu .gnb .depth1 { position:relative; transition-duration:0.5s; }
#menu .gnb .depth1 > li:first-child { border-top:none; }
#menu .gnb .depth1 > li:last-child { border-bottom:1px solid #e5e5e5; }
#menu .gnb .depth1 > li > a:after { content:""; position:absolute; top:50%; right:20px; transform:translateY(-50%); width:14px; height:14px; background:url(/pjtCom/images/common/icon_header.png) no-repeat 0 -36px; background-size:100px; }
#menu .gnb .depth1 > li > a:before { content:""; position:absolute; top:50%; right:20px; transform:translateY(-50%) rotate(90deg); transition-duration:0.3s; width:14px; height:14px; background:url(/pjtCom/images/common/icon_header.png) no-repeat 0 -36px; background-size:100px; }
#menu .gnb .depth2 { transition-duration:0.5s; height:0; background:#f6f6f6; overflow:hidden; }
#menu .gnb .depth2 > li > a[href^="#"]:after { content:""; position:absolute; top:50%; right:20px; transform:translateY(-50%); width:8px; height:14px; background:url(/pjtCom/images/common/icon_header.png) no-repeat -16px -36px; background-size:100px; }
#menu .gnb .depth3 { position:absolute; top:0; left:0; transform:translateX(200%); width:100%; background:#f6f6f6; }
#menu .gnb .depth3 .btn_back { text-align:left; background:#fff; }
#menu .gnb .depth3 .btn_back:after { content:""; position:absolute; top:50%; left:20px; transform:translateY(-50%) rotate(180deg); width:8px; height:14px; background:url(/pjtCom/images/common/icon_header.png) no-repeat -16px -36px; background-size:100px; }
#menu .gnb .depth3 a { padding-left:48px; }
#menu.open + .dimd { opacity:0; position:fixed; z-index:8; top:0; left:0; transition-duration:0.5s; width:100%; height:100%; background:rgba(0, 0, 0, 0.5); }

#menu.open { transform:translateX(0); }
#menu .gnb .depth1 > li > a.open:before { transform:translateY(-50%) rotate(0deg); }
#menu.open .btn_close { transform:translateX(-40px) rotate(-180deg); }
#menu.open + .dimd { opacity:1; }

.sub #header > .inner .btn_search:before { width:16px; background-position:0 -18px; }
.sub #header > .inner .btn_menu:before { width:18px; background-position:-18px -18px; }
.sub #header > .inner .logo a { display:inline-block; width:63px; height:24px; vertical-align:middle; text-indent:-9999px; background:url(/pjtCom/images/common/logo.png) no-repeat 0 -28px; background-size:63px; }



/**
* wrap
* --------------------------------
*/
#wrap { min-height:100%; padding:0 0 355px; box-sizing:border-box; }
#contents { box-sizing:border-box; }

/* sub */
.sub #wrap { padding-top:50px; }
.sub #contents { padding:30px 0 60px; }



/**
* footer
* --------------------------------
*/
#footer { position:relative; height:355px; font-family:'Malgun Gothic', sans-serif; text-align:center; margin-top:-355px; box-sizing:border-box; background:#f6f6f6;}
#footer .inner { position:relative; height:100%; margin:0 auto; box-sizing:border-box; }
/* #footer .inner:before { content:""; position:absolute; top:40; left:50px; width:89px; height:34px; background:url(/pjtCom/images/common/logo.png) no-repeat 0 -84px; } */
